<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/blog-style.css">
    <link rel="icon" href="/images/dan-logo.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<% include ./partials/navbar %>
<div class="container nav-box">
    <h1><%= title %></h1>
    <div class="blog-text-container">
        <form method="post" action="/blogdelete/<%= blogInfo._id %>">
            <div class="form-group">
                <label class="col-2 col-form-label">Blog Title</label>
                <input class="form-control" id="blogTitle" name="blogTitle" type="text" value="<%= blogInfo.blogTitle %>" readonly>
            </div>
            <div class="form-group">
                <label class="col-2 col-form-label">Blog Text</label>
                <textarea class="form-control" id="blogText" name="blogText" rows="10" readonly><%= blogInfo.blogText %></textarea>
                <br \>
                <input class="btn btn-danger" value="Delete Post" type="submit">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


